<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Ver Plasticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <table>
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plasticos of plasticos">
        <td>{{plasticos.dia}}</td>
        <td>{{plasticos.cantidad}}</td>
        <td>{{plasticos.fecha}}</td>
        <td style="display: flex">
          <ion-button color="secondary" size="small" (click)="goEliminarplastico(plasticos.id)">Borrar</ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-button color="primary" size="small" routerLink='/grafico'>Volver</ion-button>
</ion-content>